<div class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <form (ngSubmit)="modifyNote()">
      <div class="mb-3">
        <label for="title-note-content" class="form-label">Title</label>
        <input type="text" [(ngModel)]="note.notesTitle"  class="form-control" name="title" id="title"
          aria-describedby="emailHelp" />
      </div>
      <div class="mb-3">
        <label for="note" class="form-label">Note</label>
        <input type="text" [(ngModel)]="note.noteContent" class="form-control" name="content" id="content"
          aria-describedby="emailHelp" />
      </div>
      <button type="submit" class="btn btn-primary">Done</button>
    </form>
  </div>
</div>
