input {
  width: 25em;
  height: 1.6em;
  margin-left: 27em;
  text-align: center;
}
label {
    color: darkblue;
    padding-left: 39em;
    font-weight: 610;
}
.btn-primary{
    width: 95px;
    height: 30px;
    padding: 0;
    margin-left: 37em
    
} 
