<!-- <div class="border border-warning" style="margin-bottom: 2.5em"> -->
<div class="parent">
  <!-- <div class="border border-info"> -->
  <div class="child">
    <h3>{{ note.notesTitle }}</h3>
    <!-- <h3>{{ note.noteId }}</h3> -->
    <p>{{ note.noteContent }}</p>
    <button class="deletenote" (click)="onDelete(note)">Delete</button>
    <button (click)="openModal = true" type="button" class="editNote">Edit</button>
    <div *ngIf="openModal">
      <app-edit-notes [note]="note" (whenNoteEditedCallThis)="editNote($event)"></app-edit-notes>
    </div>
  </div>
</div>