.parent{
margin-left: 5em;

}
.child {
  margin: 10px; 
    border: 1px solid red; 
    width: 30%;
    float: left;
    background-image: linear-gradient(to right top, #f4ff00, #ceff21, #a4ff3c, #72ff55, #00ff6e);
}

 .border-warning {
  width: 45em;
  height: 8em;
  margin-left: 18em;
  text-align: center;
} 
.deletenote {
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fda085 51%,
    #f6d365 100%
  );
  color: red;
  font-weight: 700;
  margin-left: 32%;
}
.editNote {
  background-image: linear-gradient(to right top, #bbfffc, #94f0fa, #6ce0fb, #40cffd, #00bdff);
  color: red;
  font-weight: 700;
  margin-left: 20px;
  margin-bottom: 5%;

} 
h3{
  color: blueviolet;
  text-align: center;
}
p{
  text-align: center;
}
