.title-notes{
    background-image: linear-gradient(to right top, #00f4ff, #00ded3, #00c7a4, #00af74, #029742);
    width: 12em;
    height: 4em;
    margin-left: 44%;
    margin-top: 1.5%;
    padding-left: 1em;
    color: black;
    border-radius: 0.5em;
}
p{
    font-size: 3em;
    font-weight: 700;
}
